# Project 4: Data Lake on AWS

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Preparation" data-toc-modified-id="Preparation-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Preparation</a></span><ul class="toc-item"><li><span><a href="#Import-necessary-modules" data-toc-modified-id="Import-necessary-modules-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Import necessary modules</a></span></li></ul></li><li><span><a href="#Create-tables" data-toc-modified-id="Create-tables-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Create tables</a></span><ul class="toc-item"><li><span><a href="#Get-params-from-config-file" data-toc-modified-id="Get-params-from-config-file-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Get params from config file</a></span></li><li><span><a href="#Create-Spark-Session" data-toc-modified-id="Create-Spark-Session-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Create Spark Session</a></span></li><li><span><a href="#Process-song-data" data-toc-modified-id="Process-song-data-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Process song data</a></span><ul class="toc-item"><li><span><a href="#Get-filepath-to-song-data-file" data-toc-modified-id="Get-filepath-to-song-data-file-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>Get filepath to song data file</a></span></li><li><span><a href="#Read-song-data-file" data-toc-modified-id="Read-song-data-file-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span>Read song data file</a></span></li><li><span><a href="#Extract-columns-to-create-songs-table" data-toc-modified-id="Extract-columns-to-create-songs-table-2.3.3"><span class="toc-item-num">2.3.3&nbsp;&nbsp;</span>Extract columns to create songs table</a></span></li><li><span><a href="#Write-songs-table-to-parquet-files-partitioned-by-year-and-artist" data-toc-modified-id="Write-songs-table-to-parquet-files-partitioned-by-year-and-artist-2.3.4"><span class="toc-item-num">2.3.4&nbsp;&nbsp;</span>Write songs table to parquet files partitioned by year and artist</a></span></li><li><span><a href="#Extract-columns-to-create-artists-table" data-toc-modified-id="Extract-columns-to-create-artists-table-2.3.5"><span class="toc-item-num">2.3.5&nbsp;&nbsp;</span>Extract columns to create artists table</a></span></li><li><span><a href="#Write-artists-table-to-parquet-files" data-toc-modified-id="Write-artists-table-to-parquet-files-2.3.6"><span class="toc-item-num">2.3.6&nbsp;&nbsp;</span>Write artists table to parquet files</a></span></li><li><span><a href="#Combine-single-steps-to-one-function" data-toc-modified-id="Combine-single-steps-to-one-function-2.3.7"><span class="toc-item-num">2.3.7&nbsp;&nbsp;</span>Combine single steps to one function</a></span></li></ul></li><li><span><a href="#Process-log-data" data-toc-modified-id="Process-log-data-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Process log data</a></span><ul class="toc-item"><li><span><a href="#Get-filepath-to-log-data-file" data-toc-modified-id="Get-filepath-to-log-data-file-2.4.1"><span class="toc-item-num">2.4.1&nbsp;&nbsp;</span>Get filepath to log data file</a></span></li><li><span><a href="#Read-log-data-file" data-toc-modified-id="Read-log-data-file-2.4.2"><span class="toc-item-num">2.4.2&nbsp;&nbsp;</span>Read log data file</a></span></li><li><span><a href="#Filter-by-actions-for-song-plays" data-toc-modified-id="Filter-by-actions-for-song-plays-2.4.3"><span class="toc-item-num">2.4.3&nbsp;&nbsp;</span>Filter by actions for song plays</a></span></li><li><span><a href="#Extract-columns-for-users-table" data-toc-modified-id="Extract-columns-for-users-table-2.4.4"><span class="toc-item-num">2.4.4&nbsp;&nbsp;</span>Extract columns for users table</a></span></li><li><span><a href="#Write-users-table-to-parquet-files" data-toc-modified-id="Write-users-table-to-parquet-files-2.4.5"><span class="toc-item-num">2.4.5&nbsp;&nbsp;</span>Write users table to parquet files</a></span></li><li><span><a href="#Create-timestamp-column-from-original-timestamp-column" data-toc-modified-id="Create-timestamp-column-from-original-timestamp-column-2.4.6"><span class="toc-item-num">2.4.6&nbsp;&nbsp;</span>Create timestamp column from original timestamp column</a></span></li><li><span><a href="#Create-datetime-column-from-original-timestamp-column" data-toc-modified-id="Create-datetime-column-from-original-timestamp-column-2.4.7"><span class="toc-item-num">2.4.7&nbsp;&nbsp;</span>Create datetime column from original timestamp column</a></span></li><li><span><a href="#Extract-columns-to-create-time-table" data-toc-modified-id="Extract-columns-to-create-time-table-2.4.8"><span class="toc-item-num">2.4.8&nbsp;&nbsp;</span>Extract columns to create time table</a></span></li><li><span><a href="#Write-time-table-to-parquet-files-partitioned-by-year-and-month" data-toc-modified-id="Write-time-table-to-parquet-files-partitioned-by-year-and-month-2.4.9"><span class="toc-item-num">2.4.9&nbsp;&nbsp;</span>Write time table to parquet files partitioned by year and month</a></span></li><li><span><a href="#Read-in-song-data-to-use-for-songplays-table" data-toc-modified-id="Read-in-song-data-to-use-for-songplays-table-2.4.10"><span class="toc-item-num">2.4.10&nbsp;&nbsp;</span>Read in song data to use for songplays table</a></span></li><li><span><a href="#Read-in-artists-data-to-use-for-songplays-table" data-toc-modified-id="Read-in-artists-data-to-use-for-songplays-table-2.4.11"><span class="toc-item-num">2.4.11&nbsp;&nbsp;</span>Read in artists data to use for songplays table</a></span></li><li><span><a href="#Extract-columns-from-joined-song-and-log-datasets-to-create-songplays-table" data-toc-modified-id="Extract-columns-from-joined-song-and-log-datasets-to-create-songplays-table-2.4.12"><span class="toc-item-num">2.4.12&nbsp;&nbsp;</span>Extract columns from joined song and log datasets to create songplays table</a></span></li><li><span><a href="#Write-songplays-table-to-parquet-files-partitioned-by-year-and-month" data-toc-modified-id="Write-songplays-table-to-parquet-files-partitioned-by-year-and-month-2.4.13"><span class="toc-item-num">2.4.13&nbsp;&nbsp;</span>Write songplays table to parquet files partitioned by year and month</a></span></li><li><span><a href="#Combine-single-steps-to-one-function" data-toc-modified-id="Combine-single-steps-to-one-function-2.4.14"><span class="toc-item-num">2.4.14&nbsp;&nbsp;</span>Combine single steps to one function</a></span></li></ul></li></ul></li><li><span><a href="#Define-main-function" data-toc-modified-id="Define-main-function-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Define main function</a></span></li><li><span><a href="#Example-queries-and-results-for-song-play-analysis" data-toc-modified-id="Example-queries-and-results-for-song-play-analysis-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Example queries and results for song play analysis</a></span><ul class="toc-item"><li><span><a href="#Read-parquet-files" data-toc-modified-id="Read-parquet-files-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Read parquet files</a></span></li><li><span><a href="#Create-tables" data-toc-modified-id="Create-tables-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Create tables</a></span></li><li><span><a href="#Example-queries" data-toc-modified-id="Example-queries-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Example queries</a></span></li></ul></li></ul></div>

## Preparation

### Import necessary modules

In [1]:
import configparser
from datetime import datetime
import os
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format
from pyspark.sql.types import TimestampType, IntegerType
from pyspark.sql.functions import monotonically_increasing_id

## Create tables

### Get params from config file

In [2]:
config = configparser.ConfigParser()
config.read('dl.cfg')

os.environ['AWS_ACCESS_KEY_ID']=config['AWS']['AWS_ACCESS_KEY_ID']
os.environ['AWS_SECRET_ACCESS_KEY']=config['AWS']['AWS_SECRET_ACCESS_KEY']

# 
# input_data = "s3a://udacity-dend/"
# output_data = "s3a://dend-emr-project"
input_data = './'
output_data = '/Users/daniel/Desktop/output/'

### Create Spark Session

In [3]:
def create_spark_session():
    spark = SparkSession \
        .builder \
        .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
        .getOrCreate()
    return spark

In [4]:
spark = create_spark_session()

### Process song data

#### Get filepath to song data file

In [5]:
song_data = os.path.join(input_data, 'data/song_data/*/*/*/*.json')
song_data

'./data/song_data/*/*/*/*.json'

#### Read song data file

In [6]:
df = spark.read.json(song_data)

In [7]:
df.printSchema()

root
 |-- artist_id: string (nullable = true)
 |-- artist_latitude: double (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_longitude: double (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- num_songs: long (nullable = true)
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- year: long (nullable = true)

In [8]:
df.toPandas().head()

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARDR4AC1187FB371A1,NaN,,NaN,Montserrat Caballé;Placido Domingo;Vicente Sar...,511.16363,1,SOBAYLL12A8C138AF9,Sono andati? Fingevo di dormire,0
1,AREBBGV1187FB523D2,NaN,"Houston, TX",NaN,Mike Jones (Featuring CJ_ Mello & Lil' Bran),173.66159,1,SOOLYAZ12A6701F4A6,Laws Patrolling (Album Version),0
2,ARMAC4T1187FB3FA4C,40.82624,"Morris Plains, NJ",-74.47995,The Dillinger Escape Plan,207.77751,1,SOBBUGU12A8C13E95D,Setting Fire to Sleeping Giants,2004
3,ARPBNLO1187FB3D52F,40.71455,"New York, NY",-74.00712,Tiny Tim,43.36281,1,SOAOIBZ12AB01815BE,I Hold Your Hand In Mine [Live At Royal Albert...,2000
4,ARDNS031187B9924F0,32.67828,Georgia,-83.22295,Tim Wilson,186.48771,1,SONYPOM12A8C13B2D7,I Think My Wife Is Running Around On Me (Taco ...,2005

#### Extract columns to create songs table

In [9]:
# song_id, title, artist_id, year, duration
songs_table = df.select('song_id', 'title', 'artist_id', 'year', 'duration')

In [10]:
songs_table.toPandas()

,song_id,title,artist_id,year,duration
0,SOBAYLL12A8C138AF9,Sono andati? Fingevo di dormire,ARDR4AC1187FB371A1,0,511.16363
1,SOOLYAZ12A6701F4A6,Laws Patrolling (Album Version),AREBBGV1187FB523D2,0,173.66159
2,SOBBUGU12A8C13E95D,Setting Fire to Sleeping Giants,ARMAC4T1187FB3FA4C,2004,207.77751
3,SOAOIBZ12AB01815BE,I Hold Your Hand In Mine [Live At Royal Albert...,ARPBNLO1187FB3D52F,2000,43.36281
4,SONYPOM12A8C13B2D7,I Think My Wife Is Running Around On Me (Taco ...,ARDNS031187B9924F0,2005,186.48771
...,...,...,...,...,...
66,SOTUKVB12AB0181477,Blessed Assurance,AR7ZKHQ1187B98DD73,1993,270.60200
67,SOFSOCN12A8C143F5D,Face the Ashes,ARXR32B1187FB57099,2007,209.60608
68,SOZQDIU12A58A7BCF6,Superconfidential,ARNTLGG11E2835DDB9,0,338.31138
69,SOMUYGI12AB0188633,La Culpa,ARL7K851187B99ACD2,0,226.35057
70,SOGDBUF12A8C140FAA,Intro,AR558FS1187FB45658,2003,75.67628

In [11]:
print((df.count(), len(df.columns)))

(71, 10)

#### Write songs table to parquet files partitioned by year and artist

In [12]:
songs_path = os.path.join(output_data, 'songs_table.parquet')
songs_table.write.parquet(songs_path, partitionBy=['year', 'artist_id'])

#### Extract columns to create artists table

In [13]:
# artist_id, name, location, lattitude, longitude
artists_table = df.select('artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude')

In [14]:
artists_table.toPandas().head()

,artist_id,artist_name,artist_location,artist_latitude,artist_longitude
0,ARDR4AC1187FB371A1,Montserrat Caballé;Placido Domingo;Vicente Sar...,,NaN,NaN
1,AREBBGV1187FB523D2,Mike Jones (Featuring CJ_ Mello & Lil' Bran),"Houston, TX",NaN,NaN
2,ARMAC4T1187FB3FA4C,The Dillinger Escape Plan,"Morris Plains, NJ",40.82624,-74.47995
3,ARPBNLO1187FB3D52F,Tiny Tim,"New York, NY",40.71455,-74.00712
4,ARDNS031187B9924F0,Tim Wilson,Georgia,32.67828,-83.22295

#### Write artists table to parquet files

In [15]:
artists_path = os.path.join(output_data, 'artists_table.parquet')
artists_table.write.parquet(artists_path)

#### Combine single steps to one function

In [ ]:
def process_song_data(spark, input_data, output_data):
    # get filepath to song data file
    song_data = os.path.join(input_data, 'data/song_data/*/*/*/*.json')
    
    # read song data file
    df = spark.read.json(song_data)

    # extract columns to create songs table
    songs_table = df.select('song_id', 'title', 'artist_id', 'year', 'duration')
    
    # write songs table to parquet files partitioned by year and artist
    songs_path = os.path.join(output_data, 'songs_table.parquet')
    songs_table.write.parquet(songs_path, partitionBy=['year', 'artist_id'])

    # extract columns to create artists table
    artists_table = df.select('artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude')
    
    # write artists table to parquet files
    artists_path = os.path.join(output_data, 'artists_table.parquet')
    artists_table.write.parquet(artists_path)

### Process log data

#### Get filepath to log data file

In [16]:
log_data = os.path.join(input_data, 'data/log-data/*.json')
log_data

'./data/log-data/*.json'

#### Read log data file

In [17]:
df = spark.read.json(log_data)

In [18]:
df.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

In [19]:
df.toPandas().head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Harmonia,Logged In,Ryan,M,0,Smith,655.77751,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,Sehr kosmisch,200,1542241826796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
1,The Prodigy,Logged In,Ryan,M,1,Smith,260.07465,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,The Big Gundown,200,1542242481796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
2,Train,Logged In,Ryan,M,2,Smith,205.45261,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,Marry Me,200,1542242741796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
3,None,Logged In,Wyatt,M,0,Scott,NaN,free,"Eureka-Arcata-Fortuna, CA",GET,Home,1.540872e+12,563,None,200,1542247071796,Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7....,9
4,None,Logged In,Austin,M,0,Rosales,NaN,free,"New York-Newark-Jersey City, NY-NJ-PA",GET,Home,1.541060e+12,521,None,200,1542252577796,Mozilla/5.0 (Windows NT 6.1; rv:31.0) Gecko/20...,12

#### Filter by actions for song plays

In [20]:
df = df.where(df.page == 'NextSong')

#### Extract columns for users table

In [21]:
# user_id, first_name, last_name, gender, level
users_table = df.selectExpr(
    'userId AS user_id', 
    'firstName AS first_name', 
    'lastName AS last_name', 
    'gender', 
    'level').dropDuplicates()

In [22]:
users_table.toPandas().head()

  user_id first_name last_name gender level
0      26       Ryan     Smith      M  free
1       7     Adelyn    Jordan      F  free
2      71     Ayleen      Wise      F  free
3      81     Sienna     Colon      F  free
4      87     Dustin       Lee      M  free

#### Write users table to parquet files

In [23]:
users_path = os.path.join(output_data, 'users_table.parquet')
users_table.write.parquet(users_path)

#### Create timestamp column from original timestamp column

In [24]:
df.select('ts').show(5)

+-------------+
|           ts|
+-------------+
|1542241826796|
|1542242481796|
|1542242741796|
|1542253449796|
|1542260935796|
+-------------+
only showing top 5 rows

In [25]:
get_timestamp = udf(lambda x: datetime.fromtimestamp(x / 1000.0).strftime("%Y-%m-%d %H:%M:%S"))
df = df.withColumn('timestamp', get_timestamp(df.ts))

In [26]:
df.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- timestamp: string (nullable = true)

In [27]:
df.select('timestamp').show(1, truncate=False)

+-------------------+
|timestamp          |
+-------------------+
|2018-11-15 01:30:26|
+-------------------+
only showing top 1 row

#### Create datetime column from original timestamp column

In [28]:
get_datetime = udf(lambda x: datetime.fromtimestamp(x / 1000.0))
df = df.withColumn('datetime', get_datetime(df.ts))

In [29]:
df.createOrReplaceTempView("logdata")

In [30]:
spark.sql('''
SELECT datetime
FROM logdata
LIMIT 10
''').show()

+--------------------+
|            datetime|
+--------------------+
|java.util.Gregori...|
|java.util.Gregori...|
|java.util.Gregori...|
|java.util.Gregori...|
|java.util.Gregori...|
|java.util.Gregori...|
|java.util.Gregori...|
|java.util.Gregori...|
|java.util.Gregori...|
|java.util.Gregori...|
+--------------------+

In [31]:
df.toPandas().head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId,timestamp,datetime
0,Harmonia,Logged In,Ryan,M,0,Smith,655.77751,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,Sehr kosmisch,200,1542241826796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26,2018-11-15 01:30:26,"java.util.GregorianCalendar[time=?,areFieldsSe..."
1,The Prodigy,Logged In,Ryan,M,1,Smith,260.07465,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,The Big Gundown,200,1542242481796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26,2018-11-15 01:41:21,"java.util.GregorianCalendar[time=?,areFieldsSe..."
2,Train,Logged In,Ryan,M,2,Smith,205.45261,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,Marry Me,200,1542242741796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26,2018-11-15 01:45:41,"java.util.GregorianCalendar[time=?,areFieldsSe..."
3,Sony Wonder,Logged In,Samuel,M,0,Gonzalez,218.06975,free,"Houston-The Woodlands-Sugar Land, TX",PUT,NextSong,1.540493e+12,597,Blackbird,200,1542253449796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",61,2018-11-15 04:44:09,"java.util.GregorianCalendar[time=?,areFieldsSe..."
4,Van Halen,Logged In,Tegan,F,2,Levine,289.38404,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,602,Best Of Both Worlds (Remastered Album Version),200,1542260935796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80,2018-11-15 06:48:55,"java.util.GregorianCalendar[time=?,areFieldsSe..."

#### Extract columns to create time table

In [32]:
# https://sparkbyexamples.com/spark/spark-sql-date-and-time-functions/
# start_time, hour, day, week, month, year, weekday
time_table = df.selectExpr(
    'timestamp AS start_time',
    'hour(timestamp) AS hour',
    'day(timestamp) AS day',
    'weekofyear(timestamp) AS week',
    'month(timestamp) AS month',
    'year(timestamp) AS year',
    'weekday(timestamp) AS weekday'
    ).dropDuplicates()

In [33]:
time_table.toPandas().head()

            start_time  hour  day  week  month  year  weekday
0  2018-11-15 08:47:23     8   15    46     11  2018        3
1  2018-11-15 12:01:38    12   15    46     11  2018        3
2  2018-11-15 15:47:23    15   15    46     11  2018        3
3  2018-11-21 01:58:41     1   21    47     11  2018        2
4  2018-11-21 05:23:50     5   21    47     11  2018        2

#### Write time table to parquet files partitioned by year and month

In [34]:
time_path = os.path.join(output_data, 'time_table.parquet')
time_table.write.parquet(time_path, partitionBy=['year', 'month'])

#### Read in song data to use for songplays table

In [35]:
songs_path

'/Users/daniel/Desktop/output/songs_table.parquet'

In [36]:
songs_path = os.path.join(output_data, 'songs_table.parquet')
songs_df = spark.read.parquet(songs_path)

In [37]:
songs_df.toPandas().head()

,song_id,title,duration,year,artist_id
0,SOAOIBZ12AB01815BE,I Hold Your Hand In Mine [Live At Royal Albert...,43.36281,2000,ARPBNLO1187FB3D52F
1,SONYPOM12A8C13B2D7,I Think My Wife Is Running Around On Me (Taco ...,186.48771,2005,ARDNS031187B9924F0
2,SODREIN12A58A7F2E5,A Whiter Shade Of Pale (Live @ Fillmore West),326.00771,0,ARLTWXK1187FB5A3F8
3,SOYMRWW12A6D4FAB14,The Moon And I (Ordinary Day Album Version),267.70240,0,ARKFYS91187B98E58F
4,SOWQTQZ12A58A7B63E,Streets On Fire (Explicit Album Version),279.97995,0,ARPFHN61187FB575F6

#### Read in artists data to use for songplays table

In [38]:
artists_path = os.path.join(output_data, 'artists_table.parquet')
artists_df = spark.read.parquet(artists_path)

In [39]:
artists_df.toPandas().head()

,artist_id,artist_name,artist_location,artist_latitude,artist_longitude
0,ARDR4AC1187FB371A1,Montserrat Caballé;Placido Domingo;Vicente Sar...,,NaN,NaN
1,AREBBGV1187FB523D2,Mike Jones (Featuring CJ_ Mello & Lil' Bran),"Houston, TX",NaN,NaN
2,ARMAC4T1187FB3FA4C,The Dillinger Escape Plan,"Morris Plains, NJ",40.82624,-74.47995
3,ARPBNLO1187FB3D52F,Tiny Tim,"New York, NY",40.71455,-74.00712
4,ARDNS031187B9924F0,Tim Wilson,Georgia,32.67828,-83.22295

#### Extract columns from joined song and log datasets to create songplays table

In [40]:
from pyspark.sql.functions import monotonically_increasing_id
# songplay_id, start_time, user_id, level, song_id, artist_id, session_id, location, user_agent
songplays_table = df.join(songs_df, df.song == songs_df.title)\
    .join(artists_df, ['artist_id'])\
    .selectExpr(
    'timestamp AS start_time',
    'userId AS user_id',
    'level',
    'song_id',
    'artist_id',
    'sessionId AS session_id',
    'location',
    'userAgent AS user_agent')\
    .withColumn("songplay_id", monotonically_increasing_id())
songplays_table.toPandas()

,start_time,user_id,level,song_id,artist_id,session_id,location,user_agent,songplay_id
0,2018-11-21 22:56:47,15,paid,SOZCTXZ12AB0182364,AR5KOSW1187FB35FF4,818,"Chicago-Naperville-Elgin, IL-IN-WI","""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",0
1,2018-11-14 06:06:03,10,free,SOGDBUF12A8C140FAA,AR558FS1187FB45658,484,"Washington-Arlington-Alexandria, DC-VA-MD-WV","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",1
2,2018-11-19 10:14:20,24,paid,SOGDBUF12A8C140FAA,AR558FS1187FB45658,672,"Lake Havasu City-Kingman, AZ","""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",17179869184
3,2018-11-27 23:35:59,80,paid,SOGDBUF12A8C140FAA,AR558FS1187FB45658,992,"Portland-South Portland, ME","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",25769803776

#### Write songplays table to parquet files partitioned by year and month

In [41]:
songplays_path = os.path.join(output_data, 'songplays_table.parquet')
songplays_table.write.parquet(songplays_path)

#### Combine single steps to one function

In [ ]:
def process_log_data(spark, input_data, output_data):
    # get filepath to log data file
    log_data = os.path.join(input_data, 'data/log-data/*.json')

    # read log data file
    df = spark.read.json(log_data)
    
    # filter by actions for song plays
    df = df.where(df.page == 'NextSong')

    # extract columns for users table    
    #users_table = df.select('userId', 'firstName', 'lastName', 'gender', 'level').dropDuplicates()
    users_table = df.selectExpr(
        'userId AS user_id', 
        'firstName AS first_name', 
        'lastName AS last_name', 
        'gender', 
        'level'
        ).dropDuplicates()
    
    # write users table to parquet files
    users_path = os.path.join(output_data, 'users_table.parquet')
    users_table.write.parquet(users_path)

    # create timestamp column from original timestamp column
    get_timestamp = udf(lambda x: datetime.fromtimestamp(x / 1000.0).strftime("%Y-%m-%d %H:%M:%S"))
    df = df.withColumn('timestamp', get_timestamp(df.ts))
    
    # create datetime column from original timestamp column
    get_datetime = udf(lambda x: datetime.fromtimestamp(x / 1000.0))
    df = df.withColumn('datetime', get_datetime(df.ts))
    
    # extract columns to create time table
    time_table = df.selectExpr(
        'timestamp AS start_time',
        'hour(timestamp) AS hour',
        'day(timestamp) AS day',
        'weekofyear(timestamp) AS week',
        'month(timestamp) AS month',
        'year(timestamp) AS year',
        'weekday(timestamp) AS weekday'
        ).dropDuplicates()
    
    # write time table to parquet files partitioned by year and month
    time_path = os.path.join(output_data, 'time_table.parquet')
    time_table.write.parquet(time_path, partitionBy=['year', 'month'])

    # read in song data to use for songplays table
    songs_path = os.path.join(output_data, 'songs_table.parquet')
    songs_df = spark.read.parquet(songs_path)
    
    # read in artists data to use for songplays table
    artists_path = os.path.join(output_data, 'artists_table.parquet')
    artists_df = spark.read.parquet(artists_path)

    # extract columns from joined song and log datasets to create songplays table 
    songplays_table = df.join(songs_df, df.song == songs_df.title)\
        .join(artists_df, ['artist_id'])\
        .selectExpr(
        'timestamp AS start_time',
        'userId AS user_id',
        'level',
        'song_id',
        'artist_id',
        'sessionId AS session_id',
        'location',
        'userAgent AS user_agent')\
        .withColumn("songplay_id", monotonically_increasing_id())

    # write songplays table to parquet files partitioned by year and month
    songplays_path = os.path.join(output_data, 'songplays_table.parquet')
    songplays_table.write.parquet(songplays_path)

## Define main function

In [ ]:
def main():
    spark = create_spark_session()
    ## maybe s3a not compatible with EMR according to 
    ## https://stackoverflow.com/questions/33356041/technically-what-is-the-difference-between-s3n-s3a-and-s3
    # input_data = "s3a://udacity-dend/"
    # output_data = "s3a://dend-emr-project"
    input_data = './'
    output_data = '/Users/daniel/Desktop/output/'
    
    process_song_data(spark, input_data, output_data)    
    process_log_data(spark, input_data, output_data)

In [ ]:
# call main function to execute all subfunctions in one step
if __name__ == "__main__":
    main()

## Example queries and results for song play analysis

### Read parquet files

In [42]:
songplays_path = os.path.join(output_data, 'songplays_table.parquet')
songplays_df = spark.read.parquet(songplays_path)

artists_path = os.path.join(output_data, 'artists_table.parquet')
artists_df = spark.read.parquet(artists_path)

songs_path = os.path.join(output_data, 'songs_table.parquet')
songs_df = spark.read.parquet(songs_path)

time_path = os.path.join(output_data, 'time_table.parquet')
time_df = spark.read.parquet(time_path)

users_path = os.path.join(output_data, 'users_table.parquet')
users_df = spark.read.parquet(users_path)

### Create tables

In [43]:
songplays_df.createOrReplaceTempView("songplays")
artists_df.createOrReplaceTempView("artists")
songs_df.createOrReplaceTempView("songs")
time_df.createOrReplaceTempView("time")
users_df.createOrReplaceTempView("users")

### Example queries

In [44]:
# most played songs by user in november
spark.sql('''
SELECT sp.user_id, u.last_name, count(distinct sp.song_id) AS songs_played, count(distinct sp.artist_id) AS artists_played
FROM songplays sp
JOIN users u
ON sp.user_id = u.user_id
JOIN songs s
ON sp.song_id = s.song_id
JOIN time t
ON sp.start_time = t.start_time
JOIN artists a
ON sp.artist_id = a.artist_id
WHERE t.month = 11
GROUP BY 1, 2
ORDER BY 3 DESC, 4 DESC
''').show()

+-------+---------+------------+--------------+
|user_id|last_name|songs_played|artists_played|
+-------+---------+------------+--------------+
|     10|     Cruz|           1|             1|
|     80|   Levine|           1|             1|
|     15|     Koch|           1|             1|
|     24|  Griffin|           1|             1|
+-------+---------+------------+--------------+